*{margin:0;padding:0;}

.autodropdown
{position:absolute;
 top:20px;
/* left:70px;    */
}

.suggestresult{
	width:300px;
	list-style:none;
}
 
.suggestresult li{
	padding:4px;
	background:#666;
/*        border: 1p solid #000000x;*/
	border-top:1;
	cursor:pointer;
	
	color:#000000;
	border-bottom:1px solid #000000;
}

.suggestresult li:hover{
	background:#666;
	color:#ffffff;
	cursor:pointer;
}


.cf:before, .cf:after{
    /*content:"";*/
    display:table;
}
 /*--------*/
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

.form-wrapper {
/*    width:300px;*/
  
    /*margin: 50px auto 50px auto;*/
    background: #d83c3c;
    background: #999;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.serch-wrap{ 
/*width: 450px;*/
    margin: 0 auto;
	position:relative;
	
	}
 
/* Form text input */
 
.form-wrapper input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 10px 5px;
    float: left;   
    font: normal 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1;
    background: #fffff;
    border-radius: 3px 0 0 3px;  
    
}
 
.form-wrapper input[type="text"]:focus {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input[type="text"]::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input[type="text"]:-moz-placeholder {
    color: #999;
    font-weight: normal;
    
}
 
.form-wrapper input[type="text"]:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
   
}   
 
/* Form submit button */
.form-wrapper input[type="submit"] {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.form-wrapper input[type="submit"]:hover{    
    background: #e54040;
}  
   
.form-wrapper input[type="submit"]:active,
.form-wrapper input[type="submit"]:focus{  
    background: #c42f2f;

}
 
.form-wrapper input[type="submit"]:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper input[type="submit"]:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper input[type="submit"]:focus:before,
.form-wrapper input[type="submit"]:active:before{
        border-right-color: #c42f2f;
}     
 
.form-wrapper input[type="submit"]::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
	